html{
    background-color: #230622;
    font-family: "Poppins", serif;
    padding: 0;
    margin: 0;
    border: 0;
    color: lightgrey;
}
body{
    padding: 0;
    margin: 0;
    border: 0;
}
main{
    margin-left: 5%;
    margin-right: 5%;
}
nav{
    .nav-left{
        display: flex;
        flex-direction: row;
    }
    background-color: rgba(109,67,152, 1);
    border: 0;
    padding: 10px 3%;
    margin: 20px 120px 20px;
    height: 35px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    border-radius: 10px;
    justify-content: space-between;
    a{
        text-decoration: none;
        font-size: 26px;
        margin-right: 30px;
        color: white;
        font-weight: bold;
    }

}
.card{
    color: white;
    text-align: center;
    border-radius: 70px;
    padding-top: 0;
    margin-top: 0;
    justify-self: center;
    display: flex;
    flex-direction: row;
    height: 250px;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    h1{
        margin: 0;
        font-size: 30px;
    }
    img{
        max-height: 100%;
        height: auto;
        width: auto;
        border-radius: 20px;
        box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
        margin: 0.5rem 0.5rem 0.5rem 0;
    }
    .me{
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }
    .links{
        padding-right: 5%;
        display: flex;
        flex-direction: column;
        width: 300px;
        height: 100%;
        margin-left: 20px;
        align-content: space-between;
        justify-content: center;
        gap: 30px;
        #resume-link {
            background-color: lightgrey;
        }
        #email-link {
            background-color: lightgrey;
        }
        #linkedin-link{
            background-color: lightgrey;
        }
        a{
            margin-top: 10px;
            height: 10%;
            color: #131313;
            border-radius: 10px;
            padding: 10px;
            background-color: #d8ccd9;
            text-decoration: none;
            box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);
            transition: box-shadow 0.1s ease;
            font-size: 20px;
            font-weight: bold;
            align-items: center;
            display: inline-flex;
            justify-content: center;
        }
    }
    a:hover{
        box-shadow: 15px 15px 20px rgba(0, 0, 0, 0.5);
        background-color: #e0e0e0;
        transform: scale(1.05);
    }
}

.card-holder{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
    .precard {
        h2{
            font-size: 18px;
            margin-top: 0;
            margin-bottom: 0;
        }
    }
}

#project-title{
    margin-top: 0;
}

.project{
    color: white;
    text-decoration: none;
    margin-top: 10px;
    margin-bottom: 30px;
    border-radius: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: bold;
    font-size: 24px;
    transition: box-shadow 0.1s ease;
    text-align: center;
    h2{
        all: unset;
        font-size: 30px;
        padding-top: 10px;
        padding-bottom: 15px;
    }
    img{
        border-radius: 20%;
        margin-top: 15px;
        /*max-width: 350px;*/
        /*max-height: 350px;*/
        height: 300px;
        width: 300px;
    }
}

.project:hover{
  transform: scale(1.05);
}

.section-title{
    font-size: 60px;
    text-align: center;
}

.projects{
    display: flex;
    justify-content: center;
    margin-left: 0;
    margin-right: 0;
    flex-flow: row wrap;
    margin-top: 10px;
    gap: 50px;
}

.project-holder{
    display: flex;
    justify-content: center;
}
.project-container{
    display: flex;
    flex-direction: column;
    font-size: 24px;
    margin-left: 15%;
    margin-right: 15%;
    img{
        border-radius: 10px;
        width: 80%;
        height: auto;
        margin: 15px 10%;
    }
    h2, h3{
        margin-bottom: 0;
    }
}
h1{
    margin-bottom: 0;
}
p{
    margin-top: 30px;
}
.yt{
    aspect-ratio: 16 / 9;
}
footer{
    height: 500px;
}
a{
    color: #b57997
}
@media (max-width: 768px){
    .project-container{
        all: unset;
        img{
            margin: 15px 0;
            width: 100%;
        }
    }
    p, h1, h2, h3,a {
        margin-left: 5%;
        margin-right: 5%;
    }
    main{
        margin: 0;
        all: unset
    }
    .projects{
        margin: 0;
    }
    nav{
        margin: 15px 10px 0;
    }
    .card-holder{
        h1 {
            font-size: 26px;
        }
    }
    .precard{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .name-holder{
        align-self: flex-start;
        width: 100%;
    }
    .card{
        flex-direction: column;
        width: 85%;
        height: 500px;
        padding-bottom: 5px;
        img{
            margin: 0;
            max-height: 225px;
        }
        .me{
            all:unset;
        }
        .links{
            height: 50%;
            width: 75%;
            align-items: center;
            #resume-link, #email-link, #linkedin-link {
                width: 200px;
            }
        }
        h2{
            font-size: 18px;
            margin-bottom: 0;
        }
    }
    iframe{
        width: 100%;
        height: 250px;
        margin-right: 0;
        margin-left: 0;
    }
    .yt{
        width: 100%;
        margin-top: 10px;
        height: auto;
    }
}

@media (min-width: 1700px) {
    .card {
    width: 40%;

    padding-top: 40px;
    h1
        {
          font-size: 42px;
        }
    h2
        {
          font-size: 22px;
        }
    }
    nav{
        margin: 30px 200px 10px;
    }
    .project-container{
        font-size: 28px;
        img{
            margin-left: 25%;
            margin-right: 25%;
            width: 50%;
            height: auto;
        }
    }

}