html{
    background-color: #290628;
    font-family: "Ibarra Real Nova", serif;
    padding: 0;
    margin: 0;
    border: 0;
    color: lightgrey;
}
body{
    padding: 0;
    margin: 0;
    border: 0;
}
main{
    padding-left: 5%;
    padding-right: 5%;
}
.header{
    background-color: #3B0086;
    border: 0;
    padding-left: 10%;
    padding-right: 10%;
    margin: 0;
    height: 50px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    a{
        text-decoration: none;
        font-size: 22px;
        margin-right: 25px;
        color: white;
    }
}
.card, .project{
    background-color: #B43E8F;
    color: black;
}
.card{
    text-align: center;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);
    border-radius: 10%;
    padding-bottom: 30px;
    padding-top: 30px;
    margin-top: 2rem;
    justify-self: center;
    display: flex;
    flex-direction: row;
    width: 35%;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    h1{
        margin: 0;
        font-size: 40px;
    }
    h2{
        font-size: 18px;
    }
    img{
        margin: 0.5rem;
        width: 200px;
        height: 200px;
        border-radius: 5%;
        box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
    }
    .links{
        display: flex;
        flex-direction: column;
        width: 30%;
        a{
            color: black;
            border-radius: 5%;
            margin: 10px;
            padding: 10px;
            background-color: #cf6dd9;
            text-decoration: none;
            box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);
            transition: box-shadow 0.1s ease;
        }
    }
    a:hover{
        box-shadow: 15px 15px 20px rgba(0, 0, 0, 0.5); /* Larger, darker shadow */
        background-color: #e0e0e0; /* Slightly darker background */
        transform: scale(1.05); /* Slightly increase size */
    }
}

.card-holder{
    display: flex;
    flex-direction: row;
    justify-content: center;
}


.project{
    margin-top: 10px;
    margin-right: 50px;
    margin-bottom: 30px;
    border-radius: 10%;
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 230px;
    align-items: center;
    font-weight: bold;
    font-size: 25px;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);
    transition: box-shadow 0.1s ease;
    text-align: center;
    img{
        border-radius: 10%;
        width: 80%;
        height: 80%;
        margin-top: 15px;
    }
}

.project:hover{
  box-shadow: 15px 15px 20px rgba(0, 0, 0, 0.5); /* Larger, darker shadow */
  background-color: #e0e0e0; /* Slightly darker background */
  transform: scale(1.05); /* Slightly increase size */
}

.section-title{
    font-size: 50px;
    text-align: center;
}

.projects{
    display: flex;
    flex-flow: row wrap;
}

.project-holder{
    display: flex;
    justify-content: center;
}
.project-container{
    display: flex;
    font-size: 22px;
    margin-left: 15%;
    margin-right: 15%;
}

@media (max-width: 768px){
    .card{
        flex-direction: column;
        width: 80%;
    }
    .card{
        .links{
            width: 75%;
        }
    }
    .projects{
        flex-direction: column;
        align-items: center;
    }
    .project{
        margin-right: 0;
        margin-top: 15px;
        width: 100%;
    }
}