<!DOCTYPE html>
{% include "header.html" %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
    <body>
        <h1 class="section-title">About Me</h1>
        <div class="project-container">
            <img src="/static/Headshot.jpg" alt="Diego's Headshot">
            <p>
                Hi i'm Diego. I play Alistar support usually, but sometimes I like to play Swain in case our team needs more heavy ap. I heard the right now Soraka is
                pretty strong because of the new rune Arcanist something lol. It boosts healing and ulti cooldowns. So maybe I go back and try her too. Also, with atakan, it may be
                helpful to play a tank because we need early game prio.
            </p>
        </div>
    </body>
</html>