<!DOCTYPE html>
{% include "header.html" %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
    <body>
        <h1 class="section-title">About Me</h1>
        <div class="project-container">
            <img src="/static/HeadshotUncompressed.png" alt="Diego's Headshot">
            <p>
                Hi I'm Diego! I am a junior at the University of Utah where I'm currently studying Software Development.
                I love to make things that help other people. Naturally, coding lent itself nicely to my joy of helping others.
                I get to make awesome software that helps others in a variety of ways. From a helpful application that
                makes things more efficient, to a game that entertains. Primarily, I'm interested in software development
                for video games. However, I also have a passion for both web and application development.
            </p>
            <h2> Skills</h2>
            <ul>
                <li>Unity</li>
                <li>C#</li>
                <li>C++</li>
                <li>Python</li>
                <li>Java</li>
                <li>Django</li>
                <li>HTML</li>
                <li>CSS</li>
                <li>JavaScript</li>
                <li>Unreal Engine 5</li>
                <li> JSON </li>
                <li>SQL</li>
                <li> Agile </li>
            </ul>
        </div>
    </body>
</html>