<!DOCTYPE html>
{% include "header.html" %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
    <body>
        <h1 class="section-title">About Me</h1>
        <div class="project-container">
            <img src="/static/HeadshotUncompressed.png" alt="Diego's Headshot" class="headshot">
            <h2> Skills</h2>
            <p>
                Gameplay programming, Unreal Engine 5, Unity 5, Unity 6, C#, C++
            </p>
            <h2> About Me </h2>
            <p>
                Hi I'm Diego! I am a senior at the University of Utah where I'm currently studying Software Development with an emphasis in games.
                I am focused on gameplay programming in Unreal Engine and Unity. I love making cool mechanics and making
                games work.
            </p>
            <p>
                Outside my work, I enjoy playing video games and reading. My favorite games are Diablo 2,
                Assassin's Creed, League of Legends, Elden Ring, and Hogwarts Legacy
            </p>
        </div>
    </body>
</html>