<!DOCTYPE html>
<html lang="en">
{% include "header.html" %}
<main>
    <div class="card">
        <div>
            <img src="/static/Headshot.jpg" alt="Diego's Headshot" width="150" height=auto>
            <h1>Diego Perez</h1>
            <p>Games Software Engineer</p>
        </div>
        <div class = "links">
            <a href="https://drive.google.com/file/d/1ih5eqKvnmu2JFIs6GeXLbAP-8bxtwbL3/view?usp=drive_link" target="_blank" rel="noopener noreferrer">Resume</a>
            <a href="mailto:dpuu26@gmail.com">Email</a>
            <a href="https://www.linkedin.com/in/diego-perez-uu" target="_blank" rel="noopener noreferrer">LinkedIn</a>
        </div>
    </div>

    <a href="/Ditalini/">What is Ditalini</a>
</main>
</html>