<!DOCTYPE html>
<html lang="en">
{% include "header.html" %}
<body>
    <main>
        <h1 class ="name">Diego Perez</h1>
        <h2 class="job-title">Gameplay Programmer</h2>
        <div class = "card-holder">
            <menu class = "links">
                <li>
                    <a href="https://drive.google.com/file/d/1ih5eqKvnmu2JFIs6GeXLbAP-8bxtwbL3/view?usp=drive_link" id="resume-link" target="_blank" rel="noopener noreferrer">
                        <img src="/static/resume.png" alt="link to email">
                    </a>
                </li>
                <li>
                    <a href="mailto:dpuu26@gmail.com" id="email-link">
                        <img src="/static/email(1).png" alt="link to email">
                    </a>
                </li>
                <li>
                    <a href="https://www.linkedin.com/in/diego-perez-uu" id="linkedin-link" target="_blank" rel="noopener noreferrer">
                        <img src="/static/linkedin.png" alt="link to email">
                    </a>
                </li>
            </menu>
        </div>
        <div class="main-content">
            <div class="project-holder">
                {% for project in projects %}
                    {% if not project.archived %}
                        <a class = "project" href="/{{ project.title }}">
                            <div class="left">
                                <img src = "{{ project.thumbnail.url }}" alt = "thumbnail for {{ project.title }}">
                            </div>
                            <div class="right">
                                <h2> {{ project.title }}</h2>
                                <p class="skills">
                                    {% for skill in project.skills.all %}
                                        {{ skill.name }}{% if not forloop.last %}, {% endif %}
                                    {% endfor %}
                                </p>
                                <p>{{ project.short_description }}</p>
                            </div>
                        </a>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </main>
</body>
</html>